<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://simonoak-001-site1.itempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://simonoak-001-site1.itempurl.com:8172/msdeploy.axd?site=simonoak-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>simonoak-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\simonoak-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="&quot;Provider=sqloledb;Data Source=SQL5028,1433;Initial Catalog=DB_A189CF_simonoak;User Id=DB_A189CF_simonoak_admin;Password=Olcia12345; &quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Travel.Models.ApplicationDbContext, Travel" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TravelModelContainer" Order="2" Enabled="False">
          <Destination Path="&quot;Provider=sqloledb;Data Source=SQL5028,1433;Initial Catalog=DB_A189CF_simonoak;User Id=DB_A189CF_simonoak_admin;Password=Olcia12345; &quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Travel.Models.TravelModelContainer, Travel" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>"Provider=sqloledb;Data Source=SQL5028,1433;Initial Catalog=DB_A189CF_simonoak;User Id=DB_A189CF_simonoak_admin;Password=Olcia12345; "</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TravelModelContainer-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.TravelModel.csdl|res://*/Models.TravelModel.ssdl|res://*/Models.TravelModel.msl;provider=System.Data.SqlClient;provider connection string='"Provider=sqloledb;Data Source=SQL5028,1433;Initial Catalog=DB_A189CF_simonoak;User Id=DB_A189CF_simonoak_admin;Password=Olcia12345; "'</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>